h1, h2, h3, h4 {
	text-align: center;
}

li {
	text-align: center;
	list-style-type: none;
}

.AppMenus {
	text-align: center;
}

/*.ListCols {
	align-content: center;
}*/

.MainMenuLists {
	margin: 15px;
	text-decoration: none;
}

.MainMenuLists li:hover {
	text-decoration: none;
	color: green
}

.ListCols {
	padding: 20px;
}

.MenuList {
	color: #000;
}