h1, h2, h3, h4 {
	padding: 20px;
	text-align: center;
}

li {
	text-align: center;
	list-style-type: none;
}

.AppMenus {
	text-align: center;
}

/*.ListCols {
	align-content: center;
}*/

.LinkText {
	padding: 20px;
	margin: 10px;
	text-decoration: none;
	color: #FFF;
}

.Mediteranian {
	background-color: #ee145c;
	box-shadow: -5px 3px 1px #ee145c;
}

.sotb {
	background-color: #f36321;
	box-shadow: -5px 3px 1px #f36321;
}

.tuk {
	background-color: #00abd4;
	box-shadow: -5px 3px 1px #00abd4;
}

.tfe {
	background-color: #8cc540;
	box-shadow: -5px 3px 1px #8cc540;
}

.tcar {
	background-color: #c53a94;
	box-shadow: -5px 3px 1px #c53a94;
}

.MenuButton {
	height: 60px;
	width: 80vw;
}

.MainMenuLists {
	padding: 10px;
	margin: 15px;
	text-decoration: none;
	border-style: none;
	box-shadow: 10px;
}

.MainMenuLists li:hover {
	text-decoration: none;
	
}

.ListCols {
	/*margin: 10px;
	padding: 20px;*/
}

.MenuList {
	color: #000;
}

.Marker .Linktext {
	color: #000;
	text-align: center;
}